<body>
    <p id="intro">Naš zadatak je da Vam prikažemo igrače, sportske timove i lige kojima ti timovi pripadaju
    </p>
    <mat-divider class="mat"></mat-divider>
    <mat-grid-list cols="3" rowHeight="1:1" id="grid">
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="url(../../../../../../assets/pablo-basketball.png">
                <mat-card-content>
                    <p>
                        Prati svoje omiljene sportiste na jednom mestu
                    </p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="url(../../../../../../assets/flame-1696.png">
                <mat-card-content>
                    <p>
                        Brzo i jednostavno pretraživanje kroz našu bazu podataka uz user-friendly interfejs koji omogućava jedinstveno iskustvo
                    </p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="url(../../../../../../assets/abstract-business-statistics.png">
                <mat-card-content>
                    <p>
                        Mogućnost korišćenja web aplikacije sa bilo kojeg uređaja koji poseduje internet konekciju
                    </p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</body>




<!-- Ideja je da omogućimo jednostavno i fluidno korišćenje ove web aplikacije kojoj se može pristupiti sa bilo kojeg uređaja. -->